<header>
    <div class="container">
      <div class="row">
        <div class="logo col-xs-12">
          {{#link-to 'index'}}RastreioUnico{{/link-to}}
        </div>
      </div>
    </div>
</header>

{{outlet}}
